
@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome: @ViewBag.ClaimsIdentity.Name</h2>
<h3>Values from IIdentity</h3>
<table>
    <tr>
        <th>
            IsAuthenticated 
        </th>
		<td>
            @ViewBag.ClaimsIdentity.IsAuthenticated 
        </td>
	</tr>
	<tr>
        <th>
               Name 
        </th>        
		<td>
               @ViewBag.ClaimsIdentity.Name
        </td>        
    </tr>
</table>
<h3>Claims from ClaimsIdentity</h3>
<table>
    <tr>
        <th>
            Claim Type
        </th>
        <th>
               Claim Value
        </th>        
		<th>
            Value Type
        </th>
        <th>
               Subject Name
        </th>        
		<th>
               Issuer Name
        </th>        
    </tr>
@foreach (System.Security.Claims.Claim claim in ViewBag.ClaimsIdentity.Claims ) {
    <tr>
        <td>
		  @claim.Type
		</td>
		<td>
		  @claim.Value
		</td>
		<td>
		@claim.ValueType
		</td>
		<td>
		@claim.Subject.Name
		</td>
		<td>
		@claim.Issuer
		</td>
	</tr>
}

</table>
